# SPDX-License-Identifier: MIT

{{ ansible_managed | comment }}
{{ "system_role:journald" | comment(prefix="", postfix="") }}
[Journal]
{# Persistent journal #}
{% if journald_persistent | bool %}
Storage=persistent
{%   if journald_max_disk_size | int != 0 %}
SystemMaxUse={{ journald_max_disk_size }}M
{%   endif %}
{%   if journald_max_files | int != 0 %}
SystemMaxFiles={{ journald_max_files }}
{%   endif %}
{%   if journald_max_file_size | int != 0 %}
SystemMaxFileSize={{ journald_max_file_size }}M
{%   endif %}
SplitMode={{ journald_per_user | bool | ternary("uid", "none") }}
{%   if journald_sync_interval | int != 0 %}
SyncIntervalSec={{ journald_sync_interval }}m
{%   endif %}
{%   if journald_keep_free | int != 0 %}
SystemKeepFree={{ journald_keep_free }}M
{%   endif %}
{# Volatile journal #}
{% else %}
Storage=volatile
{%   if journald_max_disk_size | int != 0 %}
RuntimeMaxUse={{ journald_max_disk_size }}M
{%   endif %}
{%   if journald_max_files | int != 0 %}
RuntimeMaxFiles={{ journald_max_files }}
{%   endif %}
{%   if journald_max_file_size | int != 0 %}
RuntimeMaxFileSize={{ journald_max_file_size }}M
{%   endif %}
{%   if journald_keep_free | int != 0 %}
RuntimeKeepFree={{ journald_keep_free }}M
{%   endif %}
{% endif %}
{# end of storage specific settings #}
{# settings below here apply to all storage types #}
Compress={{ journald_compression | bool | ternary("yes", "no") }}
ForwardToSyslog={{ journald_forward_to_syslog | bool | ternary("yes", "no") }}
RateLimitIntervalSec={{ journald_rate_limit_interval_sec }}s
RateLimitBurst={{ journald_rate_limit_burst }}
{% if journald_max_retention | int != 0 %}
MaxRetentionSec={{ journald_max_retention }}m
{% endif %}
